:root{
    --primary: #9C27B0;
    --primaryDark: #891190;
    --secondary: #FFCE00;
    --secondaryDark: rgb(233, 287, 2);
    --white: #FFFFFF;
    --black: #000000;
    --principalFont: 'Staatliches', cursive;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* Globals */
body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--principalFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}


/* Navigation */
.navigation {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigation__link {
    font-family: var(--principalFont);
    color: var(--white);
    font-size: 3rem;
}

.navigation__link:hover,
.navigation__link--active {
    color: var(--secondary);
}

/* ---- Main ---- */

/* About us */
.about_us{
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: 2rem;
}

.about_us__image {
    grid-row: 1 / 2;
    width: 100%;
}

/* Shopping with us*/
.blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.block {
    text-align: center;
}

.block__title {
    margin: 0;
}

.block__image {
    width: 100%;
}

/* Footer */
.footer {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-family: var(--principalFont);
}

/* Media Queries */
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .grid__image {
        max-height: 50rem;
    }
    .about_us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .about_us__image{
        grid-column: 2 / 3;
    }
    .blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}